#
# Carbon Black - Facebook ThreatExchange Config File
#
#

[bridge]
#------------------------------------------------------------------------------
#    FEED CONFIGURATION
#------------------------------------------------------------------------------

# FEED SETTINGS (PROBABLY LEAVE AS-IS)
listener_port=6120
listener_address=127.0.0.1

# HOW OFTEN TO REBUILD FEED (every two hours by default)
feed_retrieval_minutes=120

#debug=1


#------------------------------------------------------------------------------
#     CARBON BLACK CONFIGURATION
#------------------------------------------------------------------------------

#### CB SERVER API TOKEN (** REQUIRED **)
# API key for an administrative user of the Carbon Black server
carbonblack_server_token=


#### CB SERVER URL
# Only uncomment out the carbonblack_server_url if you are running the connector on a machine
# *other* than the Cb server itself, or if you need to specify a different port
# (should be the same as the CB UI)
# carbonblack_server_url=

#### CB SERVER SSL CERT
# If you don't want to validate the SSL cert
# (probably want =0 for self-signed CB server unless you installed a cert)
# carbonblack_server_sslverify=0


#------------------------------------------------------------------------------
#    THREATEXCHANGE CONFIGURATION
#------------------------------------------------------------------------------

# API CREDENTIALS (** REQUIRED **)
tx_app_id=
tx_secret_key=

# WHAT LEVEL OF REPORTS TO GATHER (THIS LEVEL AND MORE SEVERE)
tx_minimum_severity=INFO

# WHAT CONFIDENCE OF REPORTS TO GATHER (THIS LEVEL AND GREATER)
tx_minimum_confidence=50

# receive up to 500 records per request
tx_request_limit=500

# retry up to 5 times
tx_request_retries=5

# CHANGE THESE IF YOU HAVE SPECIFIC VALUES YOU WANT
# THE COMMENTED OUT VALUES ARE THE DEFAULTS
#tx_ioc_types=HASH_MD5,DOMAIN,IP_ADDRESS


# GO BACK 7 DAYS IN OUR FEED (THIS IS REVOLVING)
tx_historical_days=7

# If you need to use an HTTPS proxy to access the ThreatExchange API server, uncomment and configure the https_proxy
# variable below.
# https_proxy=http://proxyuser:proxypass@proxyhostname:proxyport
